

{% extends "base.html.twig" %} 

{% block title %} Blog {% endblock title %} 


{% block body %}

    {% if posts %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                    {% for post in posts %}
                    <tr>
                        <th scope="row">{{post.id}}</th>
                      
                        <td><a href="/post/{{post.id}}" class="btn btn-normal">View</a>
                        <a href="/edit/{{post.id}}" class="btn btn-normal">Edit</a>
                        <a href="/delete/{{post.id}}" class="btn btn-normal">Delete</a></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>

       
    {% else %}
     <p>No new posts </p>
    {% endif %}

{% endblock body %}
