 {% extends "base.html.twig" %} 
 {% block title %} Blog {% endblock title %} 
 
 {% block body %} 

 <h1> {{post.title}} </h1>
 <h2>{{post.createAt|date('Y-m-d')}} </h2>
 <a href="/" >Go back</a>
 {% endblock body %}